<div class="each-chatroom-container"
       data-controller="chatroom-subscription"
       data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>">
    <h1><strong><%= "#{@chatroom.name}" %></strong></h1>
    <br>

    <br>
    <br>
    <div class="messages" data-chatroom-subscription-target="messages">
      <% @chatroom.messages.each do |message| %>
        <%= render "messages/message", message: message %>
      <% end %>
    </div>
    <%= simple_form_for [@chatroom, @message],
        remote: true,
        html: {data: {chatroom_subscription_target: "form"},
        class: "d-flex"} do |f|
    %>
    <%= f.input :content,
      label: false,
      placeholder: "Message ##{@chatroom.name}",
      wrapper_html: {class: "flex-grow-1"}
    %>
    <br>
      <br>
        <br>
          <br>
            <br>
    <%= f.submit "Send", class: "second_button_yellow_move_down" %>
    <% end %>
    <br>
               <%= link_to 'Back to booking', booking_path(@chatroom.booking), class: "third_button_yellow_move_down" %>
</div>
