<% @lessons = [] %>
<% @courses.each do |course| %>
  <% course.subtopics.each do | subtopic | %>
    <% subtopic.lessons.each do | lesson | %>
      <% @lessons.push(lesson) %>
    <% end %>
  <% end %>
<% end %>
<% @lessons.each do |lesson| %>
  <div class="each-booking-container">
    <h4><strong><%= lesson.subtopic.course.topic %></strong></h4>
    <p><%= lesson.subtopic.description %></p>
    <p><strong>School Year: </strong> <%= lesson.subtopic.course.school_year %> (Level <%= lesson.subtopic.course.performance_level %>)</p>
    <p>Time: <%= lesson.time.strftime("%H:%M") %>, <%= lesson.date.strftime("%d %B %Y (%A)") %></p>

    <% lesson.bookings.each do |booking| %>
      <%= link_to booking_path(booking) do %>
        <div class ="student-booked-container">
          <p>Student: <%= User.find(booking.user_id).name %></p>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
