<div class="bookings-container">
  <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>

<canvas id="myChart" width="100px" height="70px" data-labels="<%= @data_keys %>" data-data="<%= @data_values %>"></canvas>

<% @bookings.each do |booking| %>
<div class="each-booking-container">
<h4><strong><%= booking.lesson.subtopic.course.subject%></strong></h2>
<h5><%= booking.lesson.subtopic.course.topic %></h5>
<h5><%= link_to booking.lesson.subtopic.description, booking_path(booking)%></h5>
<p><strong>Teacher:</strong> <%= booking.lesson.subtopic.course.user.name%></p>
<p><%= booking.lesson.date.strftime("%d %B %Y (%A)") %></p>
<p><strong>Time:</strong> <%= booking.lesson.time.strftime("%H:%M") %></p>
<p><strong>Duration:</strong> <%= booking.lesson.duration %> mins</p>
<% if current_user.user_type == "teacher" %>
<p><strong>Student:</strong> <%= User.find(booking.user_id).name %></p>
<% end %>
<% if current_user.user_type == "student" %>
<%= link_to "Cancel Booking",
                  booking_path(booking),
                  method: :delete,
                  data: { confirm: "Are you sure?" },
                   class: "button_yellow_move_down" %>
<% end %>
</div>
<% end %>
<br>
<%= link_to "See all courses", courses_path, class: "button_green_move_down" %>
<br>
<br>
<%= link_to "#{@type.capitalize} profiles", user_index_path(query: @type), class: "button_green_move_down" %>
<br>
<br>

</div>
