<head>
  <script src='https://8x8.vc/external_api.js' async></script>
  <style>html, body, #jaas-container { height: 830px; }</style>
  <script type="text/javascript">
    window.onload = () => {
      const api = new JitsiMeetExternalAPI("8x8.vc", {
        roomName: "vpaas-magic-cookie-0f1a60b28c14458babb38917a68033dc/Schoolio",
        parentNode: document.querySelector('#jaas-container')
      });
    }
  </script>
</head>

<div class="each-booking-container">
  <h1><strong>Subject: <%= @booking.lesson.subtopic.course.subject%></strong></h1>
  <h3>Topic: <%= @booking.lesson.subtopic.course.topic %></h3>
  <h3>Subtopic: <%= @booking.lesson.subtopic.description %></h3>
  <br>
  <!-- Button trigger modal -->
  <button type="button" class="button_yellow_move_down" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Enter virtual classroom!
  </button>
  <div class="container">
  </div>
  <br>
  <% if @booking.chatrooms.length > 0 %>
    <%= link_to "Enter chat", chatroom_path(@booking.chatrooms[0]), class: "button_yellow_move_down" %>
    <br>
  <% else %>
    <%= link_to "Start a chat", chatrooms_path(booking_id: params[:id]), method: :post, class: "button_yellow_move_down" %>
    <br>
  <% end %>
    <br>
    <%= link_to "Leave a review", new_booking_review_path(@booking), class: "button_yellow_move_down" %>
    <br>
    <br>
    <% if @booking.reviews.length > 0 %>
      <h4>Your review</h4>
      <%@booking.reviews.each do |review|%>
        <div class="padding-for-review">
        <p>Rating: <%= review.rating %></p>
        <p>Comment: <%= review.comment %></p>
        <%= link_to 'Edit Review', edit_booking_review_path(@booking, review), class: "button_green_move_down" %>
        <br>
        <br>
        <%= link_to "Delete Review",
            review_path(review),
            method: :delete,
            data: { confirm: "Are you sure?" },
            class: "button_green_move_down" %>
        </div>
      <% end %>
    <% end %>
  <% if current_user.user_type == "student" %>
  <%= link_to "Cancel Booking",
      booking_path(@booking),
      method: :delete,
      data: { confirm: "Are you sure?" },
      class: "button_yellow_move_down" %>
  <% end %>
  <%= link_to 'All Bookings', bookings_path, class: "button_yellow_move_down" %>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div id="jaas-container"></div>
      </div>
    </div>
  </div>
</div>
