<div class="banner-home-img">
  <img class="banner-img-landingscreen" style= "background-image: url('https://images.unsplash.com/photo-1596496181871-9681eacf9764?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2972&q=80')">

  <h1>Welcome to Schoolio</h1>
 <br>
  <br>
    <h3><strong>Your #1 learning platform</strong></h3>

  <p><strong>Improve your grades</strong> having fun with your <strong>personalized</strong> learning path and great teachers who personally <strong>care for you</strong></p>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container-index-search">
    <div class="col-sm-5 search-container">
      <h1>Find a course</h1>
      <%= form_tag courses_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "ex. Grade 6 Mathematics"
        %>
        <%= button_tag type:"submit", class: "button-search" do %>
          <i class="fas fa-search"></i>
        <% end %>
        <%= link_to 'See all', courses_path, class: "courses-link"%>
      <% end %>
    </div>
</div>



<%= yield %>
<%= render 'shared/flashes' %>
