<div class="banner-home-img">
  <img class="banner-img-landingscreen" style= "background-image: url('https://images.unsplash.com/photo-1596496181871-9681eacf9764?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2972&q=80')">

  <h1>Welcome to Schoolio</h1>
</div>

  <br>
    <h3> Your nr.1 learning platform</h3>

  <p><strong>Improve your grades</strong> having fun with your <strong>personalized</strong> learning path and great teachers who personally <strong>care for you</strong></p>


<div class="container">

  <div class="container-index-search">
    <div class="col-sm-5 search-container">
      <h1>Find a course</h1>
      <%= form_tag courses_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "ex. Grade 6 Mathematics"
        %>
        <%= button_tag type:"submit", class: "button-search" do %>
          <i class="fas fa-search"></i>
        <% end %>
        <%= link_to 'See all', courses_path, class: "courses-link"%>
      <% end %>
    </div>
  </div>

<br>
<br>
<div class="questionnaire-part-home">
  <h5>Fill in your personalized learning journey:</h5>
  <%= link_to bookings_path do %>
      <svg class="questionnaire-button" xmlns="http://www.w3.org/2000/svg" width="56" height="56" fill="currentColor" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3.854 2.146a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708L2 3.293l1.146-1.147a.5.5 0 0 1 .708 0zm0 4a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708L2 7.293l1.146-1.147a.5.5 0 0 1 .708 0zm0 4a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0z"/>
      </svg>
      <%end%>
</div>


<%= yield %>
<%= render 'shared/flashes' %>
