<div class="container mt-4">
<h1>Users index</h1>
 <%= link_to "Back to courses", courses_path, class: "btn btn-secondary" %>
<% @users.each do |user| %>
<div class="container my-3 p-2 border">
<h4><%= user.user_type.capitalize %>: <%= user.name %></h4>
<p>Description: <%= user.description %></p>
<p>Age: <%= user.age %></p>
<p>School Year: <%= user.school_year %></p>
<p>Years of Study: <%= user.years_of_study %></p>
<p>Learning Type: <%= user.learning_type.capitalize %></p>
<p>Interest: <%= user.interest.capitalize %></p>
</div>
<% end %>
</div>
