<div class="container">
<h1>Your subtopic</h1>

<br>
<h2><%= @subtopic.description %></h2>
<%= link_to "Go back to course", course_path(@course) %>
<%= link_to 'Edit subtopic', edit_course_subtopic_path(@course, @subtopic) %>
<%= link_to "Delete subtopic",
                subtopic_path(@subtopic),
                method: :delete,
                data: { confirm: "Are you sure?" } %>

<h2>Lessons</h2>
<%= link_to "Add a lesson", new_course_subtopic_lesson_path(@course, @subtopic) %>
<% @subtopic.lessons.each do |lesson| %>
<div class="container my-3">
<h3><%= link_to lesson.date, course_subtopic_lesson_path(@course, @subtopic, lesson) %></h3>
<p>Time: <%= lesson.time %></p>
<p>Duration (min): <%= lesson.duration %></p>
<p>Max Capacity: <%= lesson.max_capacity %></p>
</div>
<% end %>
</div>
