<div class="container">
<%= simple_form_for [ @course, @subtopic, @lesson ] do |f| %>
  <%= f.input :date %>
  <%= f.input :time %>
  <%= f.input :duration %>
  <%= f.input :max_capacity %>
  <%= f.submit "Add lesson", class: "button_green" %>
<% end %>
<%= link_to "Return to subtopic", course_subtopic_path(@course, @subtopic), class: "button_green" %>
</div>
