<div class="container">
<h1>Your lesson</h1>

<br>
<h2>Date: <%= @lesson.date %></h2>
<p>Time: <%= @lesson.time %></p>
<p>Duration (mins): <%= @lesson.duration %></p>
<p>Max Capacity: <%= @lesson.max_capacity %></p>
<%= link_to "Book this lesson", course_subtopic_lesson_bookings_path(lesson_id: params[:id], user_id: current_user.id), method: :post %>
<br>
<%= link_to "Go back to subtopic", course_subtopic_path(@course, @subtopic) %>
<%= link_to 'Edit lesson', edit_course_subtopic_lesson_path(@course, @subtopic, @lesson) %>
<%= link_to "Delete lesson",
                lesson_path(@lesson),
                method: :delete,
                data: { confirm: "Are you sure?" } %>
</div>
