<div data-refresh-list-target="list">
<% courses.each do |course| %>
  <%= link_to course_path(course) do %>
    <% if course.photo.key %>
      <div class="card-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path course.photo.key, height: 300, crop: :fill %>')">
    <% else %>
      <div class="card-img" style="background-image: url('https://www.solidbackgrounds.com/images/3840x2160/3840x2160-ocean-boat-blue-solid-color-background.jpg')">
    <% end %>
      <div>
        <h1><strong><%= course.subject %></strong></h1>
        <ul>
          <li class="mark"><%= course.topic %></li>
          <li class="mark">School year: <%= course.school_year %></li>
          <li class="mark">Performance Level Required: <%= course.performance_level %></li>
          <li class="mark">Teacher: <%= User.find(course.user_id).name %></li>
        </ul>
      </div>
    </div>
  <% end %>
<% end %>
</div>
