<div class="container mt-4">
<%= simple_form_for @course do |f| %>
  <%= f.input :subject %>
  <%= f.input :topic %>
  <%= f.input :school_year %>
  <%= f.input :performance_level %>
  <%= f.submit "Save changes", class: "btn btn-primary" %>
<% end %>
<%= link_to "Back to course", course_path(@course), class: "btn btn-danger mt-3" %>
</div>
