<div class="container">
  <div class="container-index-search">
    <div class="col-sm-5 search-container">
      <h1>Find a course</h1>
      <%= form_tag courses_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "ex. Grade 6 Mathematics"
        %>
        <%= button_tag type:"submit", class: "button-search" do %>
          <i class="fas fa-search"></i>
        <% end %>
      <% end %>
    </div>
  </div>


  <%= link_to "All bookings", bookings_path, class: "button_green" %>

  <% if current_user.user_type == "teacher" %>
  <%= link_to new_course_path do%>
    <svg xmlns="http://www.w3.org/2000/svg" class="plus_icon" viewBox="0 0 16 16">
      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
      <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
    </svg>
      <% end %>
  <% end %>


  <% @courses.each do |course| %>
    <div class="card-img" style="background-image: url('https://images.unsplash.com/photo-1453733190371-0a9bedd82893?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2874&q=80')">
      <div>
          <h1><strong><%= course.subject %></strong></h1>
          <ul>
            <li><%= course.topic %></li>
            <li>School year: <%= course.school_year %></li>
            <li>Performance Level Required: <%= course.performance_level %></li>
            <li>Teacher: <%= User.find(course.user_id).name %></li>
          </ul>
            <div class="card-links">
              <%= link_to course_path(course) do %>
              <svg xmlns="http://www.w3.org/2000/svg"  class="login_icon" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"/>
                <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
              </svg>
              <% end %>
              <% if current_user.user_type == "teacher" %>
              <%= link_to edit_course_path(course) do %>
                  <svg xmlns="http://www.w3.org/2000/svg" class="edit_icon" viewBox="0 0 16 16">
                  <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                  <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                </svg>
                  <% end %>
              <%= link_to course_path(course),
                        method: :delete,
                        data: { confirm: "Are you sure?" } do %>
                <svg xmlns="http://www.w3.org/2000/svg"  class="cancel_minus_icon" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                  </svg>
                      <% end %>
              <% end %>
            </div>
      </div>
    </div>
  <% end %>
</div>
