<div class="container">
  <div class="container-index-search">
    <div class="col-sm-5 search-container">
      <h1>Find a course</h1>
      <%= form_tag courses_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "ex. Grade 6 Mathematics"
        %>
        <%= button_tag type:"submit", class: "button-search" do %>
          <i class="fas fa-search"></i>
        <% end %>
      <% end %>
    </div>
  </div>

  <%= link_to "See your bookings", bookings_path, class: "btn btn-dark" %>

  <%= link_to @type.capitalize, user_index_path(query: @type) %>

  <% if current_user.user_type == "teacher" %>
  <%= link_to "Add a new course", new_course_path, class: "nav-link" %>
  <% end %>

  <% @courses.each do |course| %>
    <div class="card-img" style="background-image: url('https://images.unsplash.com/photo-1453733190371-0a9bedd82893?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2874&q=80')">
      <div>
          <h1><strong><%= course.subject %></strong></h1>
          <ul>
            <li><%= course.topic %></li>
            <li>School year: <%= course.school_year %></li>
            <li>Performance Level Required: <%= course.performance_level %></li>
            <li>Teacher: <%= User.find(course.user_id).name %></li>
          </ul>
            <div class="card-links">
              <%= link_to "Enter", course_path(course) %>
              <% if current_user.user_type == "teacher" %>
              <%= link_to 'Edit', edit_course_path(course) %>
              <%= link_to "Delete",
                          course_path(course),
                        method: :delete,
                        data: { confirm: "Are you sure?" } %>
              <% end %>
            </div>
      </div>
    </div>
  <% end %>
</div>
