<div class="container_course_show_alignment">

<% if @course.photo.key %>
<div class="card-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @course.photo.key, height: 300, crop: :fill %>')">
<% else %>
<div class="card-img" style="background-image: url('https://www.solidbackgrounds.com/images/3840x2160/3840x2160-ocean-boat-blue-solid-color-background.jpg')">
<% end %>
  <h1><%=@course.subject %></h1>
  <ul>
    <li class="list-header">Topic:<%= @course.topic %></li>
    <li class="list-subtle">School Year:<%= @course.school_year %></li>
    <li class="list-subtle">Level Required:<%= @course.performance_level %></li>
  </ul>
  <div class="show_courses_links">
  <% if current_user.user_type == "teacher" %>
  <%= link_to edit_course_path(@course) do %>
                  <svg xmlns="http://www.w3.org/2000/svg" class="edit_icon" viewBox="0 0 16 16">
                  <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                  <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                </svg>
                  <% end %>
  <%= link_to course_path(@course),
                  method: :delete,
                  data: { confirm: "Are you sure?" } do %>
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon_green_delete" viewBox="0 0 16 16">
                      <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                      <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                    </svg>
                     <% end %>
  <% end %>
</div>
</div>


<div class="list_links_course_subtopics">
  <h3>Course Subtopics</h3>
  <% if current_user.user_type == "teacher" %>
  <%= link_to new_course_subtopic_path(@course) do%>
    <svg xmlns="http://www.w3.org/2000/svg" class="plus_icon" viewBox="0 0 16 16">
      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
      <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
    </svg>
      <% end %>
  <% end %>
</div>
<div>
  <% @course.subtopics.each do |subtopic| %>
      <a><%= link_to subtopic.description, course_subtopic_path(@course, subtopic), class: "list-beautiful text-decoration-none button_list_grey"%></a>
  <% end %>
</div>
<br>

<% if @reviews.length > 0 %>
<h3>Course reviews</h3>
<% @reviews.each do |review| %>
  <div class="padding-for-course-review">
    <p><strong>Rating: <%= review.rating %></strong></p>
    <p><%= review.comment %></p>
  </div>
<% end %>
<% end %>


</div>
<div class="container">
  <%= link_to courses_path do %>
    <svg xmlns="http://www.w3.org/2000/svg" class="icon_green_back" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
      </svg>
  <% end %>
