<div class="container">
<%= simple_form_for [ @booking, @review ] do |f| %>
  <%= f.input :rating %>
  <%= f.input :comment %>
  <%= f.submit "Edit review", class: "btn btn-primary" %>
<% end %>
<%= link_to 'Go back to booking', booking_path(@booking), class: "btn btn-danger mt-3" %>
</div>
